@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h8{
  display: flex;
    font-size: 50px;
    line-height: 50px;
    color: #031f2c;
    font-weight: 600;
    margin: 15px 0 20px 0;
    
}
h3{
  font-size: 25px;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
h7{
    font-size: 45px;
    line-height: 60px;
    color: #1eff00;
    font-family: Arial, Helvetica, sans-serif;
    outline: black;
}
.sidenav {
  width: 60px;
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 10px;
  background: #00ffd5;
  overflow-x: hidden;
  padding: 8px 0;
  border: #00ffd5;
  border-radius: 10px;
  margin-top: 350px;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ff9100;
  display: block;
}

.sidenav a:hover {
  transform: scale(1.2);
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.section-header .section-header-border {
  margin: 0;
  display: block;
  padding-top: 10px;
  border-bottom: 1px solid #e2e4e8;
}
p{
    font-size: 18px;
    color: hsl(0, 0%, 0%);
    margin: 15px 0 20px 0;
    display: flex;
    
}
.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
.section-m2{
    margin: 40px 0 0 0;
}
.col{
    color: #00aeff;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s ;
}
body{
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(92, 90, 90, 0.3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
#header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: rgb(179, 179, 179);
  top: 0;
  left: 0;
  z-index: 5;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  
}
#navbar li{
    list-style: none;
    padding: 2px 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    transition: 0.18s ease;
    text-shadow: #000000;
}
#navbar li a:hover,
#navbar li a .active{
     color: #00ffdd;
    
}

#navbar li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display:block;
  margin: auto;
  transition: 0.5s;
}
#navbar1 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 0 500px ;

}
.input-container {
  width: 220px;
  position: relative;
  margin-top: -21px;
  margin-left: 100px;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
#navbar1 li{
  list-style: none;
  padding: 2px 20px;
}

#navbar1 li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  transition: 0.18s ease;
  text-shadow: #000000;
}
#navbar1 li a:hover,
#navbar1 li a .active{
   color: #00ffdd;
  
}

#mobile{
    display: none;
    align-items: center;
    
    align-items: center;
    justify-content: center;
    z-index: 5;
  
}
#mobile li{
  list-style: none;
  padding: 2px 20px;
}
#mobile li a{
  text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    transition: 0.18s ease;
    text-shadow: #000000;
}
#mobile li a:hover,
#mobile li a .active{
     color: #00ffdd;
    
}



#close{
    display: none;
}

#hero {
    color: blue;
    background-image: url("img/ARBG.png");
    height: 38vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 0;
    padding: 0 80px;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: center;
 }


#hero h4{
    padding-bottom: 15px;

 }
#hero h1{
      color: #088178;
    
 }
#hero button{
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}
#hero .button:hover::before {
  transform: scaleX(1);
}


#hero .button-content {
  position: relative;
  z-index: 1;
}

#hero .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.3s;
}
.logoList {
  margin: 10px 15px;
  padding: 10px 10px 10px 15px;
  font-size: 18px;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center ;
  justify-content: center;
  
}
.logo-item:hover{
  transform: scale(1.1);
  
}
.logo-item {
  display: flex;
  padding: -2px;

}
.logoList .logo-item img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #00132808;
  width: 75%;
  border-radius: 50%;
  max-width: 160px;


}
.logoList .logo-item a{
  text-decoration: none;
  margin-top: 3px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoList .logo-item h6{
  text-decoration: none;
  margin-top: 10px;
  color: black;

}
.logoList .logo-item h6:hover{
  transition: 1s ease;
      text-decoration: 1px solid underline  rgb(255, 0, 0) ;
     
  transition: 0.3s ease;
   color: rgb(255, 0, 0);
}
.logoList .title {
   text-decoration: none;
   color: black;
   text-align:justify;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 200px;
    text-align: center;
    padding: 0px 1px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(124, 203, 255);
    margin: 20px 10px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(58, 58, 58, 0.8);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 1px;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 6px;
    color: #000000;
    background-color: #00aeff;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(240, 160, 174);
} 

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(130, 255, 136);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(133, 125, 245);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(226, 253, 129);
  
}

#product1{
  display:table;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.9);
}
#product1 h2{
  display: flex;
  font-weight: 300;
  font-size: 40px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    flex-wrap: wrap;
    background-color: rgba(230, 230, 230, 0.9);
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-bottom: 2px solid #030303;
    border: 2px solid #202020;
    background-color: rgba(230, 230, 230, 0.9);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.2);
    margin: 25px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 11px 11px 30px rgb(121, 121, 121);
    transform: scale(1.01);
  
}
#product1 .pro img {
    width: 100%;

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h4 {
    padding: 7px;
    color: #00ffdd;
    font-size: 14px;

}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(251, 255, 0);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #77f88a;
    font-weight: 500;
    color: #088178;
    border: 1px solid rgb(94, 94, 94);
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#product2{
  display:table;
  text-align: center;
  background-color: #ececec;
}
#product2 h2{
  display: flex;
  font-weight: 300;
  font-size: 40px;
}
#product2 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    flex-wrap: wrap;
    background-color: rgba(230, 230, 230, 0.9);
}
#product2 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-bottom: 2px solid #030303;
    border: 2px solid #222222;
    background-color: rgb(233, 233, 233);
    
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.2);
    margin: 25px 0;
    transition: 0.2s ease;
    position: relative;
}
#product2 .pro:hover {
    box-shadow: 11px 11px 30px rgb(121, 121, 121);
    transform: scale(1.01);
  
}
#product2 .pro img {
    width: 100%;

}

#product2 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product2 .pro .des span {
    color: #606063;
    font-size: 12px;
}
#product2 .pro .des h4 {
    padding: 7px;
    color: #00ffdd;
    font-size: 14px;

}

#product2 .pro .des i {
    font-size: 12px;
    color: rgb(251, 255, 0);
}

#product2 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #77f88a;
    font-weight: 500;
    color: #088178;
    border: 1px solid rgb(94, 94, 94);
    position: absolute;
    bottom: 20px;
    right: 10px;

}
.cta {
  margin-top: 10px;
  display: flex;
  padding: 10px 23px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.a1{
  text-decoration: none;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.3s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: white;
  }
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/blue-data-graphic.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
 }

#banner h4{
    color: white;
    font-size: 16px;
}
 #banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
 }
 #banner h2 span{
    color: rgb(255, 0, 0);
    
 }
#banner .btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
 
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

#banner .btn:active {
  scale: 0.92;
}

#banner .btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/background-6297147_1280.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/7261754de66a72c34aa64c7e5cb41d26-red-technology-background.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3 .banner-box{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/blue-data-graphic.webp");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
}
#banner3 .banner-box{
    background-image: url("img/blue-data-graphic.webp");
}
#banner3 .banner-box{
    background-image: url("img/blue-data-graphic.webp");
}
#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: rgb(0, 255, 128);
    font-weight: 800;
    font-size: 15px;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 58px;
}

#serviceimg img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position:relative;
}

#newsletter{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/wallpaperflare.com_wallpaper\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;

}

#newsletter p{
    font-size: 22px;
    font-weight: 700;
    color: #818ea0;
    
}

#newsletter p span{

    color: #ff9a27;
    
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #888888;
  
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);

}
footer p{
    font-size: 14px;
    margin: 0  0 8px 0;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    
}
footer a{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}

footer .follow{
    color: #465b52;
    padding-right: 1px;
    cursor: pointer;
}
footer .follow  i{
  padding: 1px;


}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
}

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #583333;
        font-size: 24px;
        text-decoration: none;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 52%;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }    
}


#page-header{
    background-image: url("img/shopbanner1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: white;
}

#pagination{
    text-align: center;

}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: #000000;
    border-width: 5px;
    border-radius: 10px;
}

#prodetails .MainImg{
     border: #000000;
     border-width: 5px;
     border-radius: 5px;
}

#aboutsciring{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 15px;
  
}
#normalhead{
  padding-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 50px; 
  
}
#owercontent{
  display: flex;
  align-items: center;

  padding: 50px;
  padding-top: 20px;
  padding-left: 52px;
  
}

#Founderhead{
  display: flex;
  align-items: center;

  padding: 20px;
  padding-top: 50px;
  padding-left: 52px;
  
}

#foundercont{
  display: flex;
  align-items: center;

  padding: 50px;
  padding-top: 20px;
  padding-left: 52px;
  
}


.small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    padding: 40px 0 20px 0;
    font-size: 26px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}
.contact_us_6{
    z-index: -1;
}

.contact_us_6 * {
    font-family: Nunito, sans-serif;

  }
  
  .contact_us_6 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us_6 .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_6 input:focus,
  .contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #03a9f4;
    position: absolute;
    height: 950px;
    right: 0px;
  }
  
  .contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_6 .container-block.form-wrapper {
    background-color: white;
    max-width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
  }
  
  .contact_us_6 .text-blk.contactus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
  }
  
  .contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .contact_us_6 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
  }
  
  .contact_us_6 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
  }
  
  .contact_us_6 .submit-btn {
    width: 98%;
    background-color: #03a9f4;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  
  .contact_us_6 .form-box {
    z-index: 2;
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
  }
  
  .contact_us_6 ::placeholder {
    color: #dadada;
  }
  
  .contact_us_6 .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
  
  .contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.contactus-subhead.color {
    color: white;
  }
  
  .contact_us_6 .map-box {
    max-width: 800px;
    max-height: 520px;
    width: 100%;
    height: 520px;
    background-color: #d9d9d9;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  
  .contact_us_6 .map-part {
    width: 100%;
    height: 100%;
  }
  
  .contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #03a9f4;
  }
  
  .contact_us_6 .text-blk.map-contactus-subhead {
    max-width: 300px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
  }
  
  .contact_us_6 .link-img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
  }
  
  @media (max-width: 1024px) {
    .contact_us_6 .responsive-container-block.container {
      justify-content: center;
    }
  
    .contact_us_6 .map-box {
      position: absolute;
      top: 0px;
      max-height: 320px;
    }
  
    .contact_us_6 .map-box {
      max-width: 100%;
      width: 100%;
    }
  
    .contact_us_6 .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .map-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .mob-text {
      display: block;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 60px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .contact_us_6 .link-img {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      justify-content: space-evenly;
    }
  
    .contact_us_6 .social-media-links.mob {
      justify-content: space-evenly;
    }
  
    .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
  
    .contact_us_6 .text-blk.contactus-subhead {
      display: block;
    }
  
    .contact_us_6 .mob-text {
      text-align: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-container-block.container {
      flex-wrap: wrap;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us_6 .submit-btn {
      width: 100%;
    }
  
    .contact_us_6 .input {
      width: 100%;
    }
  
    .contact_us_6 .textinput {
      width: 100%;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .form-box {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_6 .mob-text {
      display: block;
    }
  
    .contact_us_6 .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .form-box {
      margin-top: 220px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .form-box {
      margin-top: 220px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.contactus-head {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_6 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_6 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 35px;
    }
  
    .contact_us_6 .input {
      height: 45px;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


